/*biaobinginfo页面的css*/
.biaobinginfo {
  background-image: url('../images/bg.jpg');
  background-size: cover;
  background-color: #aa0000;
  font-size: 2rem;
}

.biaobinginfo .div-main {
  /* background-color: #aa0000; */
  width: 1300px;
  margin: 0px auto;
  border: 1px solid #ffffff;
}

.biaobinginfo .title {
  background-color: #aa0000;
  color: #ffffff;
  font-size: 5rem;
  width: 100%;
  border-bottom: 1px solid #ffffff;
}

.biaobinginfo .infomation .img-div {
  width: 20%;
  margin: 0px auto;
}

.biaobinginfo .infomation .biaobing-info {
  width: 40%;
  margin: 10px auto;
  color: #ffffff;
  border: 1px solid #ffffff;
}
