/*bingsao页面的css*/
.bingsao {
  background-image: url('../images/bg.jpg');
  background-size: cover;
  background-color: #aa0000;
  /* background-color: #ff0000; */
  /* color: #ffffff; */
  font-size: 2rem;
}

.bingsao .div-main {
  background-color: #ffffff;
  width: 1300px;
  margin: 0px auto;
}

.bingsao .title {
  background-color: #aa0000;
  color: #ffffff;
  font-size: 5rem;
  margin: 0px 0px 1px 0px;
  width: 100%;
}

.bingsao .guize {
  background-color: #aa0000;
  color: #ffffff;
  font-size: 3rem;
  text-indent: 2em;
  margin: 0px 0px 1px 0px;
}

.bingsao .items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0px 0px 2rem 0px;
}

.bingsao .item-title {
  background-color: #aa0000;
  color: #ffffff;
  font-size: 3rem;
  margin: 0px 0px 2rem 0px;
  width: 100%;
  text-align: center;
}

.bingsao .items .item {
  position: relative;
  width: 45%;
  padding: 0.1rem;
}

.bingsao .items .item:hover {
  box-shadow: 0px 0px 1rem #aa0000;
}

.bingsao .items .item img {
  width: 100%;
}

.bingsao .items .item:hover img {
  cursor: pointer;
  width: 100%;
}

.bingsao .items .item .num {
  position: absolute;
  padding: 0.5rem;
  color: #ffffff;
  background-color: rgba(50, 50, 50, 0.7);
}

.bingsao .items .item .info {
  background-color: #aa0000;
  color: #ffffff;
}

.bingsao .items .item .name {
  text-align: center;
  font-size: 1.5rem;
}

.bingsao .items .item .vote {
  width: 80%;
  background-color: #ffffff;
  color: #000000;
  margin: 0px auto;
  font-size: 1.5rem;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.2rem;
  cursor: pointer;
}

.bingsao .items .item .vote:hover {
  background-color: #ffaaaa;
}

.bingsao .items .item .vote.selected {
  background-color: #ff0000;
}

.bingsao .items .item .vote-count {
  font-size: 1.5rem;
  text-align: center;
}

.bingsao .vote-info {
  display: flex;
  justify-content: space-around;
  background-color: #aa0000;
  padding: 1rem;
  margin: 0px 0px 1px 0px;
}

.bingsao .vote-info div {
  width: 45%;
  text-align: center;
  color: #ffffff;
}

.bingsao .vote-info .center {
  border-left: 1px solid #ffffff;
  /* border-right: 1px solid #ffffff; */
}

.bingsao .vote-confirm {
  margin-bottom: 2rem;
}
