<div class="bingsao" ng-controller="BingSaoCtrl">
    <div class="back">
        <span ng-click="goback()">返回</span>
      </div>
  <div class="div-main">
    <div class="title text-center">
      十大军嫂评选
    </div>
    <div class="guize text-center" ng-bind="rule"></div>
    <div class="vote-info">
      <div><i class="iconfont">&#xe627;</i> 参赛数：<span ng-bind="voteInfo.nums"></span></div>
      <div class="center"><i class="iconfont">&#xe66f;</i> 投票数：<span ng-bind="voteInfo.voteCount"></span></div>
      <div><i class="iconfont">&#xe634;</i> 访问量：<span ng-bind="voteInfo.vistors"></span></div>
    </div>
    <div>
      <div ng-repeat="item in items">
        <div class="item-title" ng-bind="item.title"></div>
        <div class="items">
          <div class="item" ng-repeat="data in item.biaobings">
            <div>
              <div class="num" ng-bind="data.num"></div>
              <img ng-src="{{data.image}}" class="img-responsive" ng-click="info(data.id)">
            </div>
            <div class="info">
              <div class="name"><i class="iconfont">&#xe627;</i> <span ng-bind="data.name"></span></div>
              <div>
                <div ng-class="{true:'vote selected',false:'vote'}[data.selected]" ng-click="data.selected=!data.selected"><i
                    class="iconfont">&#xe672;</i> 投票</div>
              </div>
              <div class="vote-count">
                <span ng-bind="data.stars"></span>票
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="vote-confirm text-center">
      <span class="btn btn-danger" ng-click="toVote();">投票</span>
    </div>
  </div>
</div>